#This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License.
#(http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)



###############################################################################
#
# name: Adwaita
# made: juanfgs
# date: 16-04-2017
# http://www.juanfgs.com
#
# Somewhat based on Luko Flux by tenner (altough little of it actually remains)
#
############################################################## BACKGROUND ######

background:                                     flat
background.color:                               #B2B2BF
background.colorTo:				#B2B2BF

#background:            fullscreen
#background.pixmap:     ~./fluxbox/styles/luko-flux/Pixel_Light.jpg

############################################################## FONTS ##########

menu.frame.font:						Cantarell-10
menu.title.font:						Cantarell-11:bold
toolbar.clock.font:						Cantarell-10:bold
toolbar.workspace.font:					Cantarell-10:bold
toolbar.iconbar.focused.font:			Cantarell-10:bold
toolbar.iconbar.unfocused.font:			Cantarell-10

window.label.focus.font:				Cantarell-10:bold
window.label.unfocus.font:				Cantarell-10


menu.font.effect: none
window.font.shadow.color: #2c2c2c
#window.font.shadow.x: 2
#window.font.shadow.y: 5
############################################################## MENU ###########

menu.bevelWidth:						1

menu.itemHeight:						22
menu.titleHeight:						21

menu.borderColor:						#FAFAFA
menu.borderWidth:                                               1
menu.roundCorners:                                              TopLeft TopRight BottomLeft BottomRight
menu.bullet.position:					Right
menu.bullet.pixmap:					pixmaps/bullet.xpm
menu.frame.underlineColor:				#6f6f6f

menu.submenu.pixmap:					bullet.xpm
menu.hilite.submenu.pixmap:

menu.selected.pixmap:
menu.hilite.selected.pixmap:

menu.unselected.pixmap:
menu.hilite.unselected.pixmap:


#menu.title:                                      Gradient Vertical
menu.title.justify:					center
menu.title.color:					#000000

menu.title.textColor:				#FAFAFA
menu.title.borderWidth:                         0

#menu.frame:								Raised Bevel1 Gradient Vertical
menu.frame.justify:						left
menu.frame.color:						#000000

menu.frame.textColor:					#FAFAFA
menu.frame.disableColor:			#6f5cb7


menu.hilite.pixmap:
menu.hilite.color:						#4A90D9
#menu.hilite.colorTo:					#5085BA
menu.hilite.textColor:					#FEFEFE

############################################################## TOOLBAR ########

toolbar.bevelWidth:						0
toolbar.shaped: false
toolbar.borderWidth:				0
toolbar.borderColor:					#b6b6b3

toolbar.height:							24

toolbar.justify:						center

toolbar:								flat
toolbar.pixmap:
toolbar.color:							#000000
toolbar.textColor:							#FAFAFA

toolbar.clock:							flat
#toolbar.clock.pixmap:					tbarufcs.xpm
toolbar.clock.justify:					center

toolbar.clock.textColor:				#fafafa
toolbar.clock.color: #000000
toolbar.workspace:						flat
toolbar.workspace.color: #000000
toolbar.workspace.justify:				Center

toolbar.workspace.textColor:			#FAFAFA

toolbar.button:							flat


toolbar.button.picColor:				#4c4c4c
toolbar.button.pressed:					flat
toolbar.button.pressed.color: #000000

toolbar.button.textColor: #FAFAFA
toolbar.button.pressed.textColor: #FAFAFA
toolbar.button.color: #000000
toolbar.iconbar.empty:					flat
#toolbar.iconbar.empty.pixmap:			tbarufcs.xpm
toolbar.iconbar.empty.color:					#000000

!toolbar.iconbar.focused.borderWidth:	1
!toolbar.iconbar.focused.borderColor:	#aeaeae
toolbar.iconbar.focused:				flat

toolbar.iconbar.focused.color: #000000
toolbar.iconbar.focused.textColor:		#fafafa
toolbar.iconbar.focused.justify:		center

!toolbar.iconbar.unfocused.borderWidth:	1
!toolbar.iconbar.unfocused.borderColor:	#aeaeae
toolbar.iconbar.unfocused:				flat
toolbar.iconbar.unfocused.color: #000000

toolbar.iconbar.unfocused.textColor:	#dedede
toolbar.iconbar.unfocused.justify:		center

############################################################## WINDOW #########

window.bevelWidth:					2
window.shade:						false
window.borderWidth:					0
window.borderColor:					#b6b6b3
window.justify:						center

window.title.height:					24

window.roundCorners:                                    
window.title.focus:					flat gradient vertical
window.title.focus.pixmap:				titlebar.xpm
window.title.focus.color:				#E0E0E0
window.title.focus.colorTo:				#E8E8E7
window.title.unfocus:					flat gradient vertical
window.title.unfocus.pixmap:
window.title.unfocus.color:				#E0E0E0
window.title.unfocus.colorTo:				#E8E8E7

window.label.focus:					parentrelative
window.label.focus.pixmap:
window.label.focus.color:
window.label.focus.colorTo:
window.label.focus.textColor:				#707070
window.label.unfocus:					parentrelative
window.label.unfocus.pixmap:
window.label.unfocus.color:
window.label.unfocus.colorTo:
window.label.unfocus.textColor:				#9c9c9c

window.button.focus:					parentrelative
window.button.focus.color:
window.button.focus.colorTo:
window.button.focus.picColor:				#707070
window.button.unfocus:					parentrelative
window.button.unfocus.Color:
window.button.unfocus.ColorTo:
window.button.unfocus.picColor:			#ECECEC
window.button.pressed:					parentrelative
window.button.pressed.color:
window.button.pressed.colorTo:
window.button.pressed.picColor:

window.handle.focus:					flat
window.handle.focus.pixmap:
window.handle.focus.color:				#CECECE
window.handle.focus.colorTo:
window.handle.unfocus:					flat
window.handle.unfocus.pixmap:
window.handle.unfocus.color:				#CECECE
window.handle.unfocus.colorTo:
window.handleWidth:					2

window.grip.focus:					flat
window.grip.focus.pixmap:
window.grip.focus.color:				#6c6c6c
window.grip.focus.colorTo:
window.grip.unfocus:					flat
window.grip.unfocus.pixmap:
window.grip.unfocus.color:				#CECECE
window.grip.unfocus.colorTo:

window.close.pixmap:				close.xpm
window.close.unfocus.pixmap:			close2.xpm
window.close.pressed.pixmap:			close3.xpm

window.iconify.pixmap:				min.xpm
window.iconify.unfocus.pixmap:			min2.xpm
window.iconify.pressed.pixmap:			min3.xpm

window.maximize.pixmap:				max.xpm
window.maximize.unfocus.pixmap:			max2.xpm
window.maximize.pressed.pixmap:			max3.xpm

###############################################################################
# EOF
